@import '~antd/dist/antd.css';
@import '../Style/table.scss';

$backgroundColorPrimary : red;
$colorWhite : #FFFFFF;
%btnStyle{
    width: 300px;
    height: 100px;
}

.btnActionTable {
    margin-left: 10px;
    margin-right: 10px;
}

.containerDiv
{
    background-color: pink;
    padding: 100px;

    .btnToggle
    {
        width: 500px;
        background: $backgroundColorPrimary;
        color: $colorWhite;
    }
    .btnSecond
    {
        background: $backgroundColorPrimary;
        color: papayawhip;
    }
}

.siderItem
{
    background-color: #848CCF;
}

.btn
{
   @extend %btnStyle
}
.btnSuccess
{
    background: greenyellow;
}
.btnPrimary
{
    background: blue;
}
.btnDefault
{
    background: white;
}
.btnError
{
    background: red;
}
.btnTesting
{
   @extend %btnStyle;
   background: cadetblue;
}

.divcolom
{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 20px 20px 20px 20px;
    margin-top: 90px;
}

.divcolomdua
{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 20px 20px 20px 20px;
    // margin-top: 90px;
}

.colform
{
    width: 300;
    padding: 100px 20px 0px 20px;
    text-align: center;
    font-size: 20px;
}

.ahref
{
    margin-left: 100px;
}

.menuSatu
{
    background-color: #848CCF;
    color: white;
    margin: 30px 0px 30px;

    .menuMenu
    {
        margin-top: 20px;

        .linkstyle
        {
            color: white;
        }
    }
}

.logo
{
    color: white;
    font-size: 20px;
    padding: 6px;
    background-color: #848CCF;
    height: 75px;
    text-align: center;
}

.site-layout-background
{
    padding-left: 15px;
    color: #848CCF;
    height: 75px ;
    background-color:white ;

}

.layout
{
    background-color: #848CCF;
    min-height: 100vh;
}

.button-login
{
    background-color: #848CCF;
}

.pict1
{
    width: 500px;
    display: block;
    margin: auto;
}

.imgadmin
{
    height: 10;
    float: right;
}

.logout
{
    float: right;
    color: #848CCF;
}

.sigIn
{
    text-align: center;
    margin-bottom: 15px;
}
.ant-card-bordered
{
    border: 0px;
}
.ant-card-body
{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 220px;
    background-color: #FFFFFF;
}

.searchKlik
{
    width: 300px;
    padding: 20px 0px 0px 15px;
}



.content
{
    margin: 0px 16px;
}

.addbutton
{
    background-color: #848CCF;
    color: white;
    align-self: center;
    float: right;
    margin-top: 20px;
}
.content1
{
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.link-item
        {
            color: white;
        }